{% extends 'blog/base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        {% if post.language == 'pt-br' %}
            {% if post.post_en or post.post_es %}
                <p class="">{% trans 'Disponível em:' %}
                {% if post.post_en %}
                    <a href="{% url 'post_detail_en' pk=post.pk %}">
                        ENG
                    </a>
                {% endif %}
            
                {% if post.post_es %}
                    <a href="{% url 'post_detail_es' pk=post.pk %}">
                        ESP
                    </a>
                {% endif %}
                </p>
            {% endif %}
        {% elif post.language == 'es' %}
            {% if post.post_pt_es or post.post_pt_es.post_en %}
                <p class="">{% trans 'Disponível em:' %}
                {% if post.post_pt_es %}
                    <a href="{% url 'post_detail_pt' pk=post.pk %}">
                        PT-BR
                    </a>
                {% endif %}
            
                {% if post.post_pt_es.post_en %}
                    <a href="{% url 'post_detail_en' pk=post.pk %}">
                        ENG
                    </a>
                {% endif %}
                </p>
            {% endif %}
        {% elif article.language == 'en' %}
            {% if post.post_pt_en or post.post_pt_en.post_es %}
                <p class="translation">{% trans 'Disponível em:' %}
                {% if post.post_pt_en %}
                    <a href="{% url 'post_detail_pt' pk=post.pk %}">
                        PT-BR
                    </a>
                {% endif %}
                {% if post.post_pt_en.post_es %}
                    <a href="{% url 'post_detail_es' pk=post.pk %}">
                        ESP
                    </a>
                {% endif %}
                </p>
            {% endif %}

        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}